<div class="flex flex-col items-center w-full  px-2 space-y-6">
  <p class="text-sm text-pretty">Los <span class="text-forestGreen-500">tickets</span> son los comprobantes de su
    reservación, el cual debes mostrar a la empresa al momento de completar el pago.</p>

  @if (load_reservas) {
  <div class="flex gap-y-4 rounded-lg w-full  h-fit min-w-lg max-w-lg">
    <div
      class="grid grid-cols-[32px_repeat(4,1fr)] auto-cols-min grid-rows-5 rounded-lg border border-gray-200 w-full  h-[175px] md:h-[190px]">
      <div class="bg-gray-200 text-white w-8 rounded-l-md row-span-5">
        <p class="w-full -rotate-90 flex justify-center items-center text-center h-full text-nowrap font-semibold ">
        </p>
      </div>
      <div
        class="flex  border-b-2 border-dotted border-gray-200  flex-col rounded-t-lg col-span-5 w-full h-11  px-2 py-1 ">
        <div class="flex">
          <div class="w-6/12">
            <div class="flex flex-col align-middle">
              <label class="text-xs font-semibold text-seashell-500 text-no-skeleton">
                Empresa
              </label>
              <p class="font-bold capitalize skeleton">.</p>
            </div>
          </div>
          <div class="w-6/12">
            <div class="flex flex-col">
              <label class="text-xs font-semibold text-seashell-500 text-no-skeleton">
                Cancha
              </label>
              <p class="font-bold skeleton">.</p>
            </div>
          </div>
        </div>


        <!-- INICIO PARTE BOLETA -->

        <div class="flex flex-col md:gap-1.5">
          <div class="flex w-full">
            <div class="items-start flex flex-col justify-start">
              <p class="text-seashell-500 text-[10px] font-bold text-no-skeleton">
                Dirección
              </p>
              <div class="flex gap-4">
                <p class="text-[12px] skeleton">.</p>
              </div>


            </div>
          </div>
          <div class="flex w-full">
            <div class="w-6/12 items-start flex flex-col justify-start">
              <p class="text-seashell-500 text-[10px] font-bold text-no-skeleton">Fecha</p>
              <p class="text-[12px] skeleton">.</p>
            </div>

            <div class="items-start flex flex-col justify-start">
              <p class="text-seashell-500 text-[10px] font-bold text-no-skeleton">
                Horario
              </p>
              <p class="text-[12px] skeleton">.</p>
            </div>
          </div>
          <div class="flex w-full">
            <div class="w-6/12 items-start flex flex-col justify-start">
              <p class="text-seashell-500 text-[10px] font-bold text-no-skeleton">
                Monto de reservación
              </p>
              <p class="text-base font-bold skeleton">. </p>
            </div>

            <div class="items-start flex flex-col justify-start">
              <p class="text-seashell-500 text-[10px] font-bold text-no-skeleton">
                Cliente
              </p>
              <p class="text-base font-bold skeleton">.</p>
            </div>
          </div>
          <div class="flex items-center justify-center ">
            <p class="font-jetBrainsMono text-[12px] skeleton">.</p>
            <div class="invisible w-12 md:w20">
            </div>
          </div>
        </div>

      </div>

      <div
        class="w-12 sm:w-16 md:w-20 justify-center flex rounded-br-lg row-span-4 col-start-6 row-start-2 border-l-2 border-gray-200 border-dotted my-3 items-center">
        <div class="w-4/5 aspect-square qr-skeleton"></div>
        <!-- <qrcode [qrdata]="reserva._id" elementType="img" [errorCorrectionLevel]="'M'"> -->
        <!-- </qrcode> -->
      </div>
    </div>

  </div>
  <div class="flex gap-y-4 rounded-lg w-full  h-fit min-w-lg max-w-lg">
    <div
      class="grid grid-cols-[32px_repeat(4,1fr)] auto-cols-min grid-rows-5 rounded-lg border border-gray-200 w-full  h-[175px] md:h-[190px]">
      <div class="bg-gray-200 text-white w-8 rounded-l-md row-span-5">
        <p class="w-full -rotate-90 flex justify-center items-center text-center h-full text-nowrap font-semibold ">
        </p>
      </div>
      <div
        class="flex  border-b-2 border-dotted border-gray-200  flex-col rounded-t-lg col-span-5 w-full h-11  px-2 py-1 ">
        <div class="flex">
          <div class="w-6/12">
            <div class="flex flex-col align-middle">
              <label class="text-xs font-semibold text-seashell-500 text-no-skeleton">
                Empresa
              </label>
              <p class="font-bold capitalize skeleton">.</p>
            </div>
          </div>
          <div class="w-6/12">
            <div class="flex flex-col">
              <label class="text-xs font-semibold text-seashell-500 text-no-skeleton">
                Cancha
              </label>
              <p class="font-bold skeleton">.</p>
            </div>
          </div>
        </div>


        <!-- INICIO PARTE BOLETA -->

        <div class="flex flex-col md:gap-1.5">
          <div class="flex w-full">
            <div class="items-start flex flex-col justify-start">
              <p class="text-seashell-500 text-[10px] font-bold text-no-skeleton">
                Dirección
              </p>
              <div class="flex gap-4">
                <p class="text-[12px] skeleton">.</p>
              </div>


            </div>
          </div>
          <div class="flex w-full">
            <div class="w-6/12 items-start flex flex-col justify-start">
              <p class="text-seashell-500 text-[10px] font-bold text-no-skeleton">Fecha</p>
              <p class="text-[12px] skeleton">.</p>
            </div>

            <div class="items-start flex flex-col justify-start">
              <p class="text-seashell-500 text-[10px] font-bold text-no-skeleton">
                Horario
              </p>
              <p class="text-[12px] skeleton">.</p>
            </div>
          </div>
          <div class="flex w-full">
            <div class="w-6/12 items-start flex flex-col justify-start">
              <p class="text-seashell-500 text-[10px] font-bold text-no-skeleton">
                Monto de reservación
              </p>
              <p class="text-base font-bold skeleton">. </p>
            </div>

            <div class="items-start flex flex-col justify-start">
              <p class="text-seashell-500 text-[10px] font-bold text-no-skeleton">
                Cliente
              </p>
              <p class="text-base font-bold skeleton">.</p>
            </div>
          </div>
          <div class="flex items-center justify-center ">
            <p class="font-jetBrainsMono text-[12px] skeleton">.</p>
            <div class="invisible w-12 md:w20">
            </div>
          </div>
        </div>

      </div>

      <div
        class="w-12 sm:w-16 md:w-20 justify-center flex rounded-br-lg row-span-4 col-start-6 row-start-2 border-l-2 border-gray-200 border-dotted my-3 items-center">
        <div class="w-4/5 aspect-square qr-skeleton"></div>
        <!-- <qrcode [qrdata]="reserva._id" elementType="img" [errorCorrectionLevel]="'M'"> -->
        <!-- </qrcode> -->
      </div>
    </div>

  </div>
  <div class="flex gap-y-4 rounded-lg w-full  h-fit min-w-lg max-w-lg">
    <div
      class="grid grid-cols-[32px_repeat(4,1fr)] auto-cols-min grid-rows-5 rounded-lg border border-gray-200 w-full  h-[175px] md:h-[190px]">
      <div class="bg-gray-200 text-white w-8 rounded-l-md row-span-5">
        <p class="w-full -rotate-90 flex justify-center items-center text-center h-full text-nowrap font-semibold ">
        </p>
      </div>
      <div
        class="flex  border-b-2 border-dotted border-gray-200  flex-col rounded-t-lg col-span-5 w-full h-11  px-2 py-1 ">
        <div class="flex">
          <div class="w-6/12">
            <div class="flex flex-col align-middle">
              <label class="text-xs font-semibold text-seashell-500 text-no-skeleton">
                Empresa
              </label>
              <p class="font-bold capitalize skeleton">.</p>
            </div>
          </div>
          <div class="w-6/12">
            <div class="flex flex-col">
              <label class="text-xs font-semibold text-seashell-500 text-no-skeleton">
                Cancha
              </label>
              <p class="font-bold skeleton">.</p>
            </div>
          </div>
        </div>


        <!-- INICIO PARTE BOLETA -->

        <div class="flex flex-col md:gap-1.5">
          <div class="flex w-full">
            <div class="items-start flex flex-col justify-start">
              <p class="text-seashell-500 text-[10px] font-bold text-no-skeleton">
                Dirección
              </p>
              <div class="flex gap-4">
                <p class="text-[12px] skeleton">.</p>
              </div>


            </div>
          </div>
          <div class="flex w-full">
            <div class="w-6/12 items-start flex flex-col justify-start">
              <p class="text-seashell-500 text-[10px] font-bold text-no-skeleton">Fecha</p>
              <p class="text-[12px] skeleton">.</p>
            </div>

            <div class="items-start flex flex-col justify-start">
              <p class="text-seashell-500 text-[10px] font-bold text-no-skeleton">
                Horario
              </p>
              <p class="text-[12px] skeleton">.</p>
            </div>
          </div>
          <div class="flex w-full">
            <div class="w-6/12 items-start flex flex-col justify-start">
              <p class="text-seashell-500 text-[10px] font-bold text-no-skeleton">
                Monto de reservación
              </p>
              <p class="text-base font-bold skeleton">. </p>
            </div>

            <div class="items-start flex flex-col justify-start">
              <p class="text-seashell-500 text-[10px] font-bold text-no-skeleton">
                Cliente
              </p>
              <p class="text-base font-bold skeleton">.</p>
            </div>
          </div>
          <div class="flex items-center justify-center ">
            <p class="font-jetBrainsMono text-[12px] skeleton">.</p>
            <div class="invisible w-12 md:w20">
            </div>
          </div>
        </div>

      </div>

      <div
        class="w-12 sm:w-16 md:w-20 justify-center flex rounded-br-lg row-span-4 col-start-6 row-start-2 border-l-2 border-gray-200 border-dotted my-3 items-center">
        <div class="w-4/5 aspect-square qr-skeleton"></div>
        <!-- <qrcode [qrdata]="reserva._id" elementType="img" [errorCorrectionLevel]="'M'"> -->
        <!-- </qrcode> -->
      </div>
    </div>

  </div>
  }
  @if (!load_reservas) {

  }

  @if (fromOut && !load_data) {
  <!-- Inicio de preservacion -->
  <div class="flex flex-col items-center  gap-3 rounded-lg  h-fit w-full">
    <span class="font-semibold text-red-500">Reservación pendiente
    </span>
    <div class="flex gap-y-4 rounded-lg w-full justify-center  h-fit min-w-lg max-w-lg">
      <div
      class="grid grid-cols-[32px_repeat(4,1fr)] auto-cols-min grid-rows-5 rounded-lg border border-red-500 w-full  h-[175px] md:h-[190px]">

      <div
        class="flex bg-red-100 border-b-2 border-dotted border-red-400  flex-col rounded-t-lg col-span-5 w-full h-11  px-2 py-1 ">
        <div class="flex rounded-t-lg ">
          <div class="w-7/12">
            <div class="flex flex-col align-middle">
              <label class="text-xs font-semibold text-red-500">
                Empresa
              </label>
              <p class="font-bold capitalize">{{cancha.empresa.nombre}}</p>
            </div>
          </div>
          <div class="w-5/12">
            <div class="flex flex-col">
              <label class="text-xs font-semibold text-red-500">
                Cancha
              </label>
              <p class="font-bold">{{cancha.nombre}}</p>
            </div>
          </div>
        </div>

        <!-- <div class="w-full border-b-2 border-dotted border-red-500 bg-red-100"></div> -->
        <!-- INICIO PARTE BOLETA -->

        <div class="flex flex-col md:gap-1.5">
          <div class="flex w-full">
            <div class="items-start flex flex-col justify-start">
              <p class="text-red-500 text-[10px] font-bold">
                Dirección
              </p>
              <div class="flex gap-4">
                <p class="text-[12px]">{{cancha.empresa.direccion}}</p>

              </div>


            </div>
          </div>
          <div class="flex w-full">
            <div class="w-7/12 items-start flex flex-col justify-start">
              <p class="text-red-500 text-[10px] font-bold">Fecha</p>
              <p class="text-[12px]">{{ fecha | date: 'EEEE, MMMM d ' | titlecase }}</p>
            </div>

            <div class="items-start flex flex-col justify-start">
              <p class="text-red-500 text-[10px] font-bold">
                Horario
              </p>
              <p class="text-[12px]">{{horaInicio | time24to12}} - {{horaFin | time24to12}}</p>
            </div>
          </div>
          <div class="flex w-full">
            <div class="w-7/12 items-start flex flex-col justify-start">
              <p class="text-red-500 text-[10px] font-bold">
                Monto de reservación
              </p>
              <p class="text-base font-bold">S/. {{subtotal}} </p>
            </div>

            <div class="items-start flex flex-col justify-start">
              <p class="text-red-500 text-[10px] font-bold">
                Cliente
              </p>
              <p class="text-base font-bold">{{user_lc.nombres}}</p>
            </div>
          </div>
        </div>

      </div>

    </div>
    </div>
 
    <div class="flex w-full justify-center gap-4 text-xs items-center text-slate-50">
      <button type="button" (click)="crear_reservacion()" class="bg-forestGreen-500 rounded-lg  py-1  w-20">
        Confirmar
      </button>

      <button type="button" (click)="eliminar_pre_reserva()" class="bg-red-500 rounded-lg  py-1 w-20">
        Eliminar
      </button>
    </div>


  </div>
  <!-- Fin de prereservacion -->
  }


  @for (reserva of reservaciones_pendientes; track $index) {
  <!-- PENDIENTE -->
  <div class="flex flex-col  gap-1 rounded-lg   h-fit max-w-md md:max-w-xl ">
    <p class="text-center text-orange-400 text-xs ">
      Pendiente de confirmación, quedan <app-countdown-timer [startDate]="reserva.createdAt"></app-countdown-timer>
      para su eliminación automatica
    </p>
    <div
      class="grid grid-cols-[32px_repeat(2,1fr)] auto-cols-min grid-rows-5 rounded-lg border border-orange-400 w-full max-w-md md:max-w-xl h-[175px] md:h-[190px]">

      <div
        class="flex bg-orange-100 border-b-2 border-dotted border-orange-400  flex-col rounded-t-lg col-span-5 w-full h-11  px-2 py-1 ">
        <div class="flex rounded-t-lg">
          <div class="w-7/12">
            <div class="flex flex-col align-middle">
              <label class="text-xs font-semibold text-orange-400">
                Empresa
              </label>
              <p class="font-bold capitalize"> {{reserva.empresa.nombre | titlecase}} </p>
            </div>
          </div>
          <div class="w-5/12">
            <div class="flex flex-col">
              <label class="text-xs font-semibold text-orange-400">
                Cancha
              </label>
              <p class="font-bold">{{reserva.cancha.nombre | titlecase}}</p>
            </div>
          </div>
        </div>

        <!-- INICIO PARTE BOLETA -->

        <div class="flex flex-col md:gap-1.5">
          <div class="flex w-full">
            <div class="items-start flex flex-col justify-start">
              <p class="text-orange-400 text-[10px] font-bold">
                Dirección
              </p>
              <div class="flex gap-4">
                <p class="text-[12px]">{{reserva.empresa.direccion }}</p>
                <button title="Copiar dirección" (click)="copiar_ubicacion_portapapeles(reserva.empresa.ubicacion)">
                  <img src="../../../../../../../assets/svg-icons/copy.svg" alt="">
                </button>


              </div>


            </div>
          </div>
          <div class="flex w-full">
            <div class="w-7/12 items-start flex flex-col justify-start">
              <p class="text-orange-400 text-[10px] font-bold">Fecha</p>
              <p class="text-[12px]"> {{reserva.fecha | date: 'EEEE, MMMM d ' | titlecase}} </p>
            </div>

            <div class="items-start flex flex-col justify-start">
              <p class="text-orange-400 text-[10px] font-bold">
                Horario
              </p>
              <p class="text-[12px]">{{reserva.hora_inicio | time24to12}} - {{reserva.hora_fin | time24to12}}</p>
            </div>
          </div>
          <div class="flex w-full">
            <div class="w-7/12 items-start flex flex-col justify-start">
              <p class="text-orange-400 text-[10px] font-bold">
                Monto de reservación
              </p>
              <p class="text-base font-bold">S/ {{reserva.subtotal}}</p>
            </div>

            <div class="items-start flex flex-col justify-start">
              <p class="text-orange-400 text-[10px] font-bold">
                Cliente
              </p>
              <p class="text-base font-bold">{{user_lc.nombres | titlecase}}</p>
            </div>
          </div>
          <div class="flex items-center justify-center ">
            <p class="font-jetBrainsMono text-[12px]">Creación: {{reserva.createdAt | date: 'medium'}}</p>
            <div class="invisible w-12 md:w20">
            </div>
          </div>
        </div>

      </div>

    </div>

    @if (reservaciones_pendientes.length >= 1) {
    <!-- MODAL -->

    <div class="flex justify-center">
      <!-- Modal toggle -->
      <button (click)="openModal()" data-modal-target="default-modal" data-modal-toggle="default-modal"
        class="flex justify-center items-center gap-2 self-center text-orange-500 text-xs font-medium text-center"
        type="button" #modalButton>
        Ver instrucciones
        <img src="../../../../../../../assets/svg-icons/view.svg" alt="">
      </button>

      <!-- Backdrop -->
      <div *ngIf="isOpen" class="fixed inset-0 bg-black bg-opacity-50 transition-opacity" (click)="closeModal()">
      </div>

      <!-- Main modal -->
      <div id="default-modal" [ngClass]="{'hidden': !isOpen}"
        class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
          <!-- Modal content -->
          <div class="flex justify-center py-4 px-8 bg-white rounded-lg shadow dark:bg-gray-700"
            (click)="$event.stopPropagation()"> <!-- Evita que el click se propague al backdrop -->
            <!-- Tu contenido actual del modal aquí -->
            <div class="flex justify-end w-full absolute top-2 right-2">
              <button type="button" class="text-gray-500 hover:text-gray-700 p-2 mr-2 mt-1" (click)="closeModal()">
                ✕
              </button>
            </div>

            <!-- Modal body -->

            <ol class="w-full relative text-gray-500 border-s-2  border-forestGreen-300">

              <li class=" mb-10 ms-6 flex items-center">
                <span
                  class="absolute  flex items-center justify-center size-8 bg-forestGreen-500 text-white rounded-full -start-4  ">
                  1
                </span>
                <div class="flex flex-col p-4 w-full bg-forestGreen-50 border border-forestGreen-500 rounded-lg leading-5">
                 
                  <p> Realizar un pago de <span class="text-forestGreen-500">S/. 30 </span> a una de las siguientes cuentas.</p>


                  <!-- MEDIOS PAGO -->
                  <div class="flex  gap-1 md:gap-4 justify-center  bg-red-300 px-4">
                    @if (cuentas.length >= 1) {
                    @for (cuenta of cuentas; track $index) {
                    <div
                      class="flex w-full flex-col items-center align-middle bg-forestGreen-200 rounded-lg p-1 md:p-4">
                      <img class="w-16 h-12" src="../../../../../../../assets/svg/{{cuenta.banco | lowercase}}.svg"
                        alt="{{cuenta.banco}}">

                      <div class="flex items-center gap-4">
                        <p class="font-semibold text-nowrap">
                          {{cuenta.cuenta}}
                        </p>

                        <button title="Copiar código" (click)="copiar_portapapeles(cuenta.cuenta)">
                          <img src="../../../../../../../assets/svg-icons/copy.svg" alt="">
                        </button>
                      </div>
                      <p class="text-xs"> {{cuenta.titular | titlecase}} </p>
                    </div>
                    }
                    }

                  </div>

                  <!-- MEDIOS PAGO -->


                </div>

              </li>


              <li class=" mb-10 ms-6 flex items-center">
                <span
                  class="absolute flex items-center justify-center size-8 bg-forestGreen-500 text-white rounded-full -start-4 ">
                  2
                </span>
                <div class="p-4 w-full bg-forestGreen-50 border border-forestGreen-500 rounded-lg leading-5">
                  Enviar el voucher de la operación mediante <span class="text-forestGreen-500"> WhatsApp</span> al
                  numero
                  <span class="text-forestGreen-500"> {{telefono_empresa}}</span>.
                </div>
              </li>

              <li class=" mb-10 ms-6 flex items-center">
                <span
                  class="absolute flex items-center justify-center size-8 bg-forestGreen-500 text-white rounded-full -start-4  ">
                  3
                </span>
                <div class="p-4 w-full bg-forestGreen-50 border border-forestGreen-500 rounded-lg leading-5">
                  Enviar el código <span class="text-forestGreen-500"> {{codigo_reserva}} </span> al mismo numero.
                </div>
              </li>

              <li class=" mb-10 ms-6 flex items-center">
                <span
                  class="absolute flex items-center justify-center size-8 bg-forestGreen-500 text-white rounded-full -start-4 ">
                  4
                </span>
                <div class="p-4 w-full bg-forestGreen-50 border border-forestGreen-500 rounded-lg leading-5">
                  Comunícate con <span class="text-forestGreen-500"> {{telefono_empresa}} </span> para verificar la
                  confirmación de su reserva.
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <!-- MODAL -->
    }


  </div>
  <!-- PENDIENTE -->
  }


  @for (reserva of reservaciones_activas; track $index) {
  <!-- ACTIVO -->
  <div class="flex flex-col items-center w-full ">
    <div class="flex gap-y-4 rounded-lg w-full justify-center  h-fit min-w-lg max-w-lg">
      <div id="{{reserva._id}}"
        class="grid grid-cols-[32px_repeat(4,1fr)] auto-cols-min grid-rows-5 rounded-lg border border-gray-500 w-full  h-[175px] md:h-[190px]">
        <div class="bg-forestGreen-600 text-white w-8 rounded-l-md row-span-5 ">
          <p class="w-full -rotate-90 flex justify-center items-center text-center h-full text-nowrap font-semibold">
            {{reserva.codigo}}
          </p>
        </div>
        <div class="flex  border-b-2 border-dotted border-seashell-400  flex-col rounded-t-lg col-span-5 w-full h-11  px-2 py-1 ">
          <div class="flex ">
            <div class="w-6/12">
              <div class="flex flex-col align-middle">
                <label class="text-xs font-semibold text-forestGreen-600">
                  Empresa
                </label>
                <p class="font-bold capitalize">{{reserva.empresa.nombre | titlecase}}</p>
              </div>
            </div>
            <div class="w-6/12">
              <div class="flex flex-col">
                <label class="text-xs font-semibold text-forestGreen-600">
                  Cancha
                </label>
                <p class="font-bold">{{reserva.cancha.nombre | titlecase}}</p>
              </div>
            </div>
          </div>


          <!-- INICIO PARTE BOLETA -->

          <div class="flex flex-col md:gap-1.5">
            <div class="flex w-full">
              <div class="items-start flex flex-col justify-start">
                <p class="text-forestGreen-600 text-[10px] font-bold">
                  Dirección
                </p>
                <div class="flex gap-4">
                  <p class="text-[12px]">{{reserva.empresa.direccion}}</p>
                  <button title="Copiar dirección" (click)="copiar_ubicacion_portapapeles(reserva.empresa.ubicacion)">
                    <img src="../../../../../../../assets/svg-icons/copy.svg" alt="">
                  </button>


                </div>


              </div>
            </div>
            <div class="flex w-full">
              <div class="w-6/12 items-start flex flex-col justify-start">
                <p class="text-forestGreen-600 text-[10px] font-bold">Fecha</p>
                <p class="text-[12px]">{{reserva.fecha | date: 'EEEE, MMMM d ' | titlecase}}</p>
              </div>

              <div class="items-start flex flex-col justify-start">
                <p class="text-forestGreen-600 text-[10px] font-bold">
                  Horario
                </p>
                <p class="text-[12px]">{{reserva.hora_inicio | time24to12}} - {{reserva.hora_fin | time24to12}}</p>
              </div>
            </div>
            <div class="flex w-full">
              <div class="w-6/12 items-start flex flex-col justify-start">
                <p class="text-forestGreen-600 text-[10px] font-bold">
                  Monto de reservación
                </p>
                <p class="text-base font-bold">S/ {{reserva.subtotal}}</p>
              </div>

              <div class="items-start flex flex-col justify-start">
                <p class="text-forestGreen-600 text-[10px] font-bold">
                  Cliente
                </p>
                <p class="text-base font-bold">{{user_lc.nombres | titlecase}}</p>
              </div>
            </div>
            <div class="flex items-center justify-center ">
              <p class="font-jetBrainsMono text-[12px]">Creación: {{reserva.createdAt | date: 'medium'}}</p>
              <div class="invisible w-12 md:w20">
              </div>
            </div>
          </div>

        </div>

        <div
          class=" w-12 md:w-20 justify-center flex rounded-br-lg row-span-4 col-start-6 row-start-2 border-l-2 border-forestGreen-600 border-dotted my-3 items-center">
          <qrcode [qrdata]="reserva._id" elementType="img" [errorCorrectionLevel]="'M'">
          </qrcode>
        </div>
      </div>

      

    </div>
    <button (click)="captureAndSaveView(reserva._id, reserva.codigo)"
        class="flex justify-center items-center gap-2 self-center text-forestGreen-500 text-xs " type="button">
        Descargar ticket {{reserva.codigo}}

        <img src="../../../../../../../assets/svg-icons/download.svg" alt="">


      </button>
  </div>

  <!-- ACTIVO -->
  }

  @if (reservaciones_finalizadas.length >= 1) {
  <div class="flex w-full justify-center">

    <button type="button" class="h-9 bg-chambray-800 text-chambray-50 rounded text-center w-full text-sm md:w-1/2"
      (click)="verFinalizadas()">
      @if(!ver_finalizadas) {
      Ver reservaciones finalizadas
      }
      @if(ver_finalizadas) {
      Ocultar finalizadas
      }
    </button>
  </div>

  }

  @if (ver_finalizadas) {

  @for (reserva of reservaciones_finalizadas; track $index) {
  <!-- VENCIDO -->
  <div class="flex gap-y-4 rounded-lg w-full  h-fit min-w-lg max-w-lg">
    <div
      class="grid grid-cols-[32px_repeat(4,1fr)] auto-cols-min grid-rows-5 rounded-lg border border-gray-500 w-full  h-[175px] md:h-[190px]">
      <div class="bg-seashell-500 text-white w-8 rounded-l-md row-span-5">
        <p class="w-full -rotate-90 flex justify-center items-center text-center h-full text-nowrap font-semibold">
          {{reserva.codigo}}
        </p>
      </div>
      <div
        class="flex  border-b-2 border-dotted border-seashell-400  flex-col rounded-t-lg col-span-5 w-full h-11  px-2 py-1 ">
        <div class="flex">
          <div class="w-6/12">
            <div class="flex flex-col align-middle">
              <label class="text-xs font-semibold text-seashell-500">
                Empresa
              </label>
              <p class="font-bold capitalize">{{reserva.empresa.nombre | titlecase}}</p>
            </div>
          </div>
          <div class="w-6/12">
            <div class="flex flex-col">
              <label class="text-xs font-semibold text-seashell-500">
                Cancha
              </label>
              <p class="font-bold">{{reserva.cancha.nombre | titlecase}}</p>
            </div>
          </div>
        </div>


        <!-- INICIO PARTE BOLETA -->

        <div class="flex flex-col md:gap-1.5">
          <div class="flex w-full">
            <div class="items-start flex flex-col justify-start">
              <p class="text-seashell-500 text-[10px] font-bold">
                Dirección
              </p>
              <div class="flex gap-4">
                <p class="text-[12px]">{{reserva.empresa.direccion}}</p>
              </div>


            </div>
          </div>
          <div class="flex w-full">
            <div class="w-6/12 items-start flex flex-col justify-start">
              <p class="text-seashell-500 text-[10px] font-bold">Fecha</p>
              <p class="text-[12px]">{{reserva.fecha | date: 'EEEE, MMMM d ' | titlecase}}</p>
            </div>

            <div class="items-start flex flex-col justify-start">
              <p class="text-seashell-500 text-[10px] font-bold">
                Horario
              </p>
              <p class="text-[12px]">{{reserva.hora_inicio | time24to12}} - {{reserva.hora_fin | time24to12}}</p>
            </div>
          </div>
          <div class="flex w-full">
            <div class="w-6/12 items-start flex flex-col justify-start">
              <p class="text-seashell-500 text-[10px] font-bold">
                Monto de reservación
              </p>
              <p class="text-base font-bold">S/ {{reserva.subtotal}}</p>
            </div>

            <div class="items-start flex flex-col justify-start">
              <p class="text-seashell-500 text-[10px] font-bold">
                Cliente
              </p>
              <p class="text-base font-bold">Dino</p>
            </div>
          </div>
          <div class="flex items-center justify-center ">
            <p class="font-jetBrainsMono text-[12px] text-nowrap">Creado: {{reserva.createdAt | date: 'medium'}}</p>
            <div class="sm:invisible w-12 md:w20">
            </div>
          </div>
        </div>

      </div>

      <div
        class="w-12 sm:w-16 md:w-20 justify-center flex rounded-br-lg row-span-4 col-start-6 row-start-2 border-l-2 border-seashell-500 border-dotted my-3 items-center">
        <qrcode [qrdata]="reserva._id" elementType="img" [errorCorrectionLevel]="'M'">
        </qrcode>
      </div>
    </div>

  </div>
  <!-- VENCIDO -->
  }
  }


</div>