<div class="wrapper">
    <div>
    </div>
    <div class=" flex flex-col lg:flex-row  self-center justify-center gap-4 p-4">
        <div class="flex flex-row  lg:flex-col mb-4 overflow-y-auto overflow-x-auto overflow-hidden gap-8 lg:h-[730px]">
            @if (load_data) {
            <app-card-sport-features-skeleton></app-card-sport-features-skeleton>
            }
            @if (!load_data) {
            @for (cancha of canchas; track $index) {
            <app-card-sport-features [cancha]="cancha" (tipo_cancha)="handleCancha($event)"
                (id_cancha)="handleIdCancha($event)">
            </app-card-sport-features>
            }
            }
        </div>
        <div class="flex-1">
            @if (!load_btn_ver) {
            <app-card-horario [tipo]="tipo_cancha" [botonesHoras]="botonesHoras" [cancha]="cancha_ver"
                [hora_fin]="hora_fin" (fechaSeleccionada)="handleFecha($event)"></app-card-horario>
            }
            @if (load_btn_ver) {
            <app-card-horario-skeleton></app-card-horario-skeleton>
            }
        </div>

    </div>
</div>