<div
  class="flex flex-col w-full p-2 bg-white gap-2 gap-y-4"
  id="registro-empresa-component"
>




    
<!-- Modal toggle -->
<button data-modal-target="static-modal" data-modal-toggle="static-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
    Modal
  </button>
  
  <!-- Main modal -->
  <div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-2xl max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->
              <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                      Titulo
                  </h3>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="static-modal">
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                      <span class="sr-only">Close modal</span>
                  </button>
              </div>
              <!-- Modal body -->
              <div class="p-4 md:p-5 space-y-4">
                  CUERPO
              </div>
              <!-- Modal footer -->
              <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                  <button data-modal-hide="static-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>
                  <button data-modal-hide="static-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Decline</button>
              </div>
          </div>
      </div>
  </div>
  




  <div class="img-form">
    <p class="font-semibold text-2xl text-center">Registra tu Empresa</p>
    <p class="text-center text-pretty text-sm text-slate-700 mb-5 mt-3">
      Para los brindar el espacio para cada jugada
    </p>
  </div>
  <!-- form paso 1 -->
  <div class="form-content">
    <div class="flex flex-col rounded-lg gap-1 p-5">
      <div class="title-header">
        <p class="font-semibold text-2xl text-center">Registra tu Empresa</p>
        <!-- cambiar ese lorem esta hasta el chompi -->
        <p class="text-center text-pretty text-sm text-slate-700 mb-5 mt-3">
          Para los brindar el espacio para cada jugada
        </p>
      </div>

      @if (step === 1) {
      <div class="flex justify-center items-center w-full flex-wrap">
        <div
          class="w-10 h-10 rounded-full bg-forestGreen-500 flex justify-center items-center"
        >
          <a class="text-gray-100 text-2xl font-bold">1</a>
        </div>
        <div class="bg-forestGreen-200 w-32 h-[2px]"></div>
        <div
          class="w-10 h-10 rounded-full bg-forestGreen-200 flex justify-center items-center"
        >
          <a
            class="text-forestGreen-500 text-2xl font-bold"
            (click)="nextStep(2)"
            >2</a
          >
        </div>
      </div>
      } @if (step === 2) {
      <div class="flex justify-center items-center w-full flex-wrap">
        <div
          class="w-10 h-10 rounded-full bg-forestGreen-500 flex justify-center items-center"
        >
          <a class="text-gray-100 text-2xl font-bold" (click)="nextStep(1)"
            >1</a
          >
        </div>
        <div class="bg-forestGreen-500 w-32 h-[2px]"></div>
        <div
          class="w-10 h-10 rounded-full bg-forestGreen-500 flex justify-center items-center"
        >
          <a class="text-gray-100 text-2xl font-bold">2</a>
        </div>
      </div>
      }
    </div>

    <div>
      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="registrationForm"
        autocomplete="off"
        class="flex flex-col justify-between rounded-l rounded-2xl border border-slate-400 px-2.5 py-8 gap-2.5"
      >
        <!-- Paso 1 -->
        @if (step === 1) {
        <div>
          <label
            for="nombre"
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
          >
            Nombre de la empresa

            <!-- Para mostrar texto de error de las validaciones -->
            @if (isValidField('nombre')) {
            <span class="text-red-600 text-xs">
              {{ getFieldError("nombre") }}*
            </span>
            }
          </label>
          <input
            formControlName="nombre"
            id="nombre"
            placeholder="Ingrese el nombre de la empresa"
            type="text"
            class="block w-full p-2 h-9 text-gray-900 border border-gray-300 rounded-md bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>

        <div>
          <label
            for="email"
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
          >
            Correo

            <!-- Para mostrar texto de error de las validaciones -->
            @if (isValidField('email')) {
            <span class="text-red-600 text-xs">
              {{ getFieldError("email") }}*
            </span>
            }
          </label>
          <input
            formControlName="email"
            id="email"
            placeholder="Ingrese su correo"
            type="text"
            class="block w-full p-2 h-9 text-gray-900 border border-gray-300 rounded-md bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>

        <div>
          <label
            for="telefono"
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
          >
            Whatsapp

            <!-- Para mostrar texto de error de las validaciones -->
            @if (isValidField('telefono')) {
            <span class="text-red-600 text-xs">
              {{ getFieldError("telefono") }}*
            </span>
            }
          </label>
          <input
            formControlName="telefono"
            id="telefono"
            maxlength="9"
            placeholder="Ingrese su Whatsapp"
            type="text"
            class="block w-full p-2 h-9 text-gray-900 border border-gray-300 rounded-md bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>

        <div>
          <label
            for="telefono_fijo"
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
          >
            Teléfono fijo (opcional)

            <!-- Para mostrar texto de error de las validaciones -->
            @if (isValidField('telefono_fijo')) {
            <span class="text-red-600 text-xs">
              {{ getFieldError("telefono_fijo") }}*
            </span>
            }
          </label>
          <input
            formControlName="telefono_fijo"
            id="telefono_fijo"
            maxlength="9"
            placeholder="Ingrese su teléfono fijo"
            type="text"
            class="block w-full p-2 h-9 text-gray-900 border border-gray-300 rounded-md bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>

        <!-- Password -->
        <div>
          <label
            for="password"
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
          >
            Contraseña @if (isValidField('password')) {
            <span class="text-red-600 text-xs">
              {{ getFieldError("password") }}*
            </span>
            }
          </label>
          <div class="relative">
            <input
              formControlName="password"
              id="password"
              [type]="showPassword ? 'text' : 'password'"
              placeholder="Ingrese su contraseña"
              class="block w-full p-2 h-9 text-gray-900 border border-gray-300 rounded-md bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
            <button
              type="button"
              (click)="togglePasswordVisibility('password')"
              class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-600 dark:text-gray-400"
            >
              <svg
                class="w-4 h-4"
                [class.hidden]="showPassword"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                ></path>
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4"
                [class.hidden]="!showPassword"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"
                ></path>
              </svg>
            </button>
          </div>
        </div>

        <!-- Confirm Password -->
        <div>
          <label
            for="confirmPassword"
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
          >
            Confirmar Contraseña @if (isValidField('confirmPassword') ||
            registrationForm.errors?.['passwordMismatch']) {
            <span class="text-red-600 text-xs">
              {{
                getFieldError("confirmPassword") ||
                  "Las contraseñas no coinciden"
              }}*
            </span>
            }
          </label>
          <div class="relative">
            <input
              formControlName="confirmPassword"
              id="confirmPassword"
              [type]="showConfirmPassword ? 'text' : 'password'"
              placeholder="Confirme su contraseña"
              class="block w-full p-2 h-9 text-gray-900 border border-gray-300 rounded-md bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
            <button
              type="button"
              (click)="togglePasswordVisibility('confirmPassword')"
              class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-600 dark:text-gray-400"
            >
              <svg
                class="w-4 h-4"
                [class.hidden]="showConfirmPassword"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                ></path>
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4"
                [class.hidden]="!showConfirmPassword"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"
                ></path>
              </svg>
            </button>
          </div>
        </div>
        }

        <!-- Paso 2 -->

        @if (step === 2) {
        <div>
          <label
            for="direccion"
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
          >
            Direccción de la empresa @if (isValidField('direccion')) {
            <span class="text-red-600 text-xs">
              {{ getFieldError("direccion") }}*
            </span>
            }
          </label>
          <input
            formControlName="direccion"
            id="direccion"
            placeholder="Ingrese direccción"
            type="text"
            class="block w-full p-2 h-9 text-gray-900 border border-gray-300 rounded-md bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>

        <div>
          <label
            for="referencia"
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
          >
            Referencia @if (isValidField('referencia')) {
            <span class="text-red-600 text-xs">
              {{ getFieldError("referencia") }}*
            </span>
            }
          </label>
          <input
            formControlName="referencia"
            id="referencia"
            maxlength="9"
            placeholder="Ingrese la Referencia"
            type="text"
            class="block w-full p-2 h-9 text-gray-900 border border-gray-300 rounded-md bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>

        <div>
          <label
            for="horario_inicio"
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
          >
            Horario de atencion @if (isValidField('horario_inicio')) {
            <span class="text-red-600 text-xs">
              {{ getFieldError("horario_inicio") }}*
            </span>
            } @if (isValidField('horario_fin') ||
            registrationForm.errors?.['invalidTimeRange']) {
            <span class="text-red-600 text-xs">
              {{
                getFieldError("horario_fin") ||
                  "La hora fin debe ser mayor a la hora de inicio"
              }}*
            </span>
            }
          </label>
          <div class="flex flex-row gap-2">
            <input
              formControlName="horario_inicio"
              id="horario_inicio"
              maxlength="9"
              placeholder="Hora de Inicio"
              type="text"
              class="block w-full p-2 h-9 text-gray-900 border border-gray-300 rounded-md bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
            <input
              formControlName="horario_fin"
              id="horario_fin"
              maxlength="9"
              placeholder="Hora final"
              type="text"
              class="block w-full p-2 h-9 text-gray-900 border border-gray-300 rounded-md bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
          </div>
        </div>

        <p class="text-center text-xs text-pretty text-balance mt-3">
          Al <span class="font-bold">Crear Cuenta</span> aceptas nuestros
          Términos y condiciones, y Políticas de privacidad
        </p>
        } @if (step === 1) {
        <button
          type="button"
          (click)="nextStep(2)"
          class="w-full bg-blue-600 text-white h-9 rounded-md mt-3"
        >
          Siguiente
        </button>
        } @if (step === 2) {
        <button
          type="submit"
          class="w-full bg-blue-600 text-white h-9 rounded-md mt-3"
        >
          Crear Cuenta
        </button>
        }

        <div class="inline-flex items-center justify-center w-full font-medium">
          <hr class="w-full h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
          <div class="flex justify-center absolute">
            <p
              class="px-3 text-[12px] text-gray-900 bg-white left-1/2 dark:text-white dark:bg-gray-900"
            >
              ¿Ya tienes cuenta?
              <span class="text-blue-400">
                <a [routerLink]="['/auth']"> Inicia Sesión </a>
              </span>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
