
<div class="flex items-center justify-center gap-4 lg:gap-8 pb-4">
    @if (!load_data) {}
    @for (cancha of canchas; track $index) {
        <div>
            <input class="size-5" type="radio" [id]="cancha._id" name="contact" [value]="cancha._id" [checked]="cancha._id === id_cancha"
            (change)="onRadioChange(cancha.tipo, cancha._id)" />
            <label [for]="cancha._id"> {{cancha.nombre}} </label>
        </div>
    
    }
</div>

<div class="flex-1">
    @if (!load_btn_ver) {
    <app-card-horario-empresa [tipo]="tipo_cancha" [botonesHoras]="botonesHoras" [cancha]="cancha_ver"
        [hora_fin]="hora_fin" (fechaSeleccionada)="handleFecha($event)" (reservacionCreada)="handleReservado($event)"></app-card-horario-empresa>
    }
    @if (load_btn_ver) {
    <app-card-horario-skeleton></app-card-horario-skeleton>
    }
</div>

<div>
    <div>
        <div class=" p-4 space-y-4 rounded-lg bg-gray-50 dark:bg-gray-800">
            <div>
                <label class="text-xs" for="small-input"
                    class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Nombres</label>
                <input placeholder="Ingrese su nombre" type="text" id="small-input"
                    class="block w-full p-2 h-9 text-gray-900 border border-gray-300 rounded-md bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>

            <div>
                <label class="text-xs" for="small-input"
                    class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Whatsapp</label>
                <input placeholder="Ingrese su nombre" type="text" id="small-input"
                    class="block w-full p-2 h-9 text-gray-900 border border-gray-300 rounded-md bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
            <div>
                <label class="text-xs" for="countries"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ingrese su
                    ciudad</label>
                <select id="countries"
                    class="bg-gray-50 border h-9 border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option selected>Seleccionar</option>
                    <option value="US">United States</option>
                    <option value="CA">Canada</option>
                    <option value="FR">France</option>
                    <option value="DE">Germany</option>
                </select>
            </div>

            <div>
                <label class="text-xs" for="small-input"
                    class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Correo</label>
                <input placeholder="Ingrese su correo" type="text" id="small-input"
                    class="block w-full p-2 h-9 text-gray-900 border border-gray-300 rounded-md bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>

            <button
                class="w-full bg-chambray-700 text-white h-9 rounded-md font-semibold hover:scale-105  hover:duration-75 ">
                Actualizar datos
            </button>
        </div>
    </div>

</div>