<!-- DATOS -->
<div class="flex-col p-4 space-y-3 rounded-lg bg-gray-50 dark:bg-gray-800">
    <p class="text-center font-semibold text-xl">Datos</p>

    <div class="flex w-full gap-3">
        <div class="flex flex-col gap-1 w-full">
            <label class="text-xs" for="nombreEmpresa">Nombre de la empresa</label>
            <input class=" rounded-lg h-9 border-gray-300 text-gray-900 text-xs" name="nombreEmpresa" id="nombreEmpresa"
                type="text">
        </div>
        <div class="flex flex-col gap-1 w-full">
            <label class="text-xs" for="correo">Correo </label>
            <input class="rounded-lg h-9 border-gray-300 text-gray-900 text-xs" name="correo" id="correo" type="email">
        </div>
    </div>
    <div class="flex w-full gap-3">
        <div class="flex flex-col gap-1 w-full">
            <label class="text-xs" for="whatsapp">WhatsApp</label>
            <input class="rounded-lg h-9 border-gray-300 text-gray-900 text-xs" name="whatsapp" id="whatsapp"
                type="text">
        </div>
        <div class="flex flex-col gap-1 w-full">
            <label class="text-xs" for="telefonoFijo">Teléfono fijo </label>
            <input class="rounded-lg h-9 border-gray-300 text-gray-900 text-xs" name="telefonoFijo" id="telefonoFijo"
                type="text">
        </div>
    </div>

    <div class="flex flex-col gap-1 w-full">
        <label class="text-xs" for="direccion">Dirección</label>
        <input class="rounded-lg h-9 border-gray-300 text-gray-900 text-xs" name="direccion" id="direccion" type="text">
    </div>

    <div class="flex flex-col gap-1 w-full">
        <label class="text-xs" for="referencia">Referencia</label>
        <input class="rounded-lg h-9 border-gray-300 text-gray-900 text-xs" name="referencia" id="referencia"
            type="text">
    </div>

    <div class="flex flex-col w-full">
        <label class="text-xs" for="horarioAtencion">Horario de atención</label>
        <div class="flex w-full">
            <input class="text-xs w-full rounded-lg rounded-r-none border-r-inherit h-9 border-gray-300 text-gray-900"
                name="horarioAtencionInicio" id="horarioAtencionInicio" type="text">
            <input
                class="text-xs w-full rounded-lg rounded-l-none border-l-transparent h-9 border-gray-300 text-gray-900"
                name="horarioAtencionFin" id="horarioAtencionFin" type="text">
        </div>
    </div>

    <div class="flex justify-between gap-4 py-4">
        <button
            class="flex font-semibold items-center justify-center text-white bg-forestGreen-500 h-10 w-1/2  rounded-lg self-center">
            Actualizar datos
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.5 6.00195L19.5 12.002M19.5 12.002L13.5 18.002M19.5 12.002H5.5" stroke="#F0FDF3"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

        </button>
        <button
            class="flex font-semibold items-center justify-center  border border-forestGreen-500 h-10 w-1/2  rounded-lg self-center">
            Actualizar contraseña


        </button>
    </div>

    <hr>
    <p class="text-center font-semibold text-xl">Actualizar datos</p>

    <div class="flex w-full gap-3">
        <div class="flex flex-col gap-1 w-full">
            <label class="text-xs" for="nombreEmpresa">Nombre de la empresa</label>
            <input class=" rounded-lg h-9 border-gray-300 text-gray-900 text-xs" name="nombreEmpresa" id="nombreEmpresa"
                type="text">
        </div>
        <div class="flex flex-col gap-1 w-full">
            <label class="text-xs" for="correo">Correo </label>
            <input class="rounded-lg h-9 border-gray-300 text-gray-900 text-xs" name="correo" id="correo" type="email">
        </div>
    </div>
    <div class="flex w-full gap-3">
        <div class="flex flex-col gap-1 w-full">
            <label class="text-xs" for="whatsapp">WhatsApp</label>
            <input class="rounded-lg h-9 border-gray-300 text-gray-900 text-xs" name="whatsapp" id="whatsapp"
                type="text">
        </div>
        <div class="flex flex-col gap-1 w-full">
            <label class="text-xs" for="telefonoFijo">Teléfono fijo </label>
            <input class="rounded-lg h-9 border-gray-300 text-gray-900 text-xs" name="telefonoFijo" id="telefonoFijo"
                type="text">
        </div>
    </div>

    <div class="flex flex-col gap-1 w-full">
        <label class="text-xs" for="direccion">Dirección</label>
        <input class="rounded-lg h-9 border-gray-300 text-gray-900 text-xs" name="direccion" id="direccion" type="text">
    </div>

    <div class="flex flex-col gap-1 w-full">
        <label class="text-xs" for="referencia">Referencia</label>
        <input class="rounded-lg h-9 border-gray-300 text-gray-900 text-xs" name="referencia" id="referencia"
            type="text">
    </div>

    <div class="flex flex-col w-full">
        <label class="text-xs" for="horarioAtencion">Horario de atención</label>
        <div class="flex w-full">
            <input class="text-xs w-full rounded-lg rounded-r-none border-r-inherit h-9 border-gray-300 text-gray-900"
                name="horarioAtencionInicio" id="horarioAtencionInicio" type="text">
            <input
                class="text-xs w-full rounded-lg rounded-l-none border-l-transparent h-9 border-gray-300 text-gray-900"
                name="horarioAtencionFin" id="horarioAtencionFin" type="text">
        </div>
    </div>

    <div class="flex">
        <div class="flex items-center me-4">
            <input id="iluminacion" type="checkbox" value=""
                class="size-4 text-forestGreen-500 bg-white-100 border-forestGreen-500 rounded ">
            <label for="iluminacion" class="ms-2 text-sm font-medium text-gray-900">Iluminación</label>
        </div>
        <div class="flex items-center me-4">
            <input id="techado" type="checkbox" value=""
                class="size-4 text-forestGreen-500 bg-white-100 border-forestGreen-500 rounded ">
            <label for="techado" class="ms-2 text-sm font-medium text-gray-900">Techado</label>
        </div>
        <div class="flex items-center me-4">
            <input checked id="garaje" type="checkbox" value=""
                class="size-4 text-forestGreen-500 bg-white-100 border-forestGreen-500 rounded ">
            <label for="garaje" class="ms-2 text-sm font-medium text-gray-900">Garaje</label>
        </div>

    </div>




    <button
        class="flex font-semibold items-center justify-center text-white bg-forestGreen-500 h-10 w-1/2  rounded-lg self-center">
        Actualizar datos
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M21.5 12.002C21.5 16.9725 17.4706 21.002 12.5 21.002C7.52944 21.002 3.5 16.9725 3.5 12.002C3.5 7.03139 7.52944 3.00195 12.5 3.00195C13.9121 3.00195 15.2482 3.32714 16.4375 3.90672M19.8125 6.37695L11.9375 14.252L9.6875 12.002"
                stroke="#F0FDF3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </button>







</div>
<div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-contacts1" role="tabpanel"
    aria-labelledby="contacts-tab">
    <p class="text-sm text-gray-500 dark:text-gray-400">
        This is some placeholder content the Contacts tab's associated content.
        Clicking another tab will toggle the visibility of this one for the
        next. The tab JavaScript swaps classes to control the content visibility
        and styling.
    </p>
</div>