<!-- skeleton -->
@if (load_data) {
Mirkooooo, el skeleon :v
}
<!-- Fin de skeleton -->

<!-- DATOS -->
@if (!load_data) {
<div class="flex-col p-4 space-y-3 rounded-lg bg-gray-50 dark:bg-gray-800">
    <hr>
    <p class="text-center font-semibold text-xl">Actualizar datos</p>

    <div class="flex w-full gap-3">
        <div class="flex flex-col gap-1 w-full">
            <label class="text-xs" for="nombre">Nombre de la empresa</label>
            <input class=" rounded-lg h-9 border-gray-300 text-gray-900 text-xs" 
            name="nombre" id="nombre" [(ngModel)]="empresa.nombre" type="text" readonly>
        </div>
        <div class="flex flex-col gap-1 w-full">
            <label class="text-xs" for="email">Correo </label>
            <input class="rounded-lg h-9 border-gray-300 text-gray-900 text-xs" name="email" id="email" [(ngModel)]="empresa.email" type="text" readonly>
        </div>
    </div>
    <div class="flex w-full gap-3">
        <div class="flex flex-col gap-1 w-full">
            <label class="text-xs" for="telefono">WhatsApp</label>
            <input class="rounded-lg h-9 border-gray-300 text-gray-900 text-xs" name="telefono" id="telefono" [(ngModel)]="empresa.telefono"
                type="text">
        </div>
        <div class="flex flex-col gap-1 w-full">
            <label class="text-xs" for="telefono_fijo">Teléfono fijo </label>
            <input class="rounded-lg h-9 border-gray-300 text-gray-900 text-xs" name="telefono_fijo" id="telefono_fijo" [(ngModel)]="empresa.telefono_fijo"
                type="text">
        </div>
    </div>

    <div class="flex flex-col gap-1 w-full">
        <label class="text-xs" for="referencia">Referencia</label>
        <input class="rounded-lg h-9 border-gray-300 text-gray-900 text-xs" name="referencia" id="referencia" [(ngModel)]="empresa.referencia"
            type="text">
    </div>

    <div class="flex flex-col w-full">
        <label class="text-xs" for="hora_inicio">Horario de atención</label>
        <div class="flex w-full">
            <!-- <input class="text-xs w-full rounded-lg rounded-r-none border-r-inherit h-9 border-gray-300 text-gray-900"
            name="hora_inicio" id="hora_inicio" [(ngModel)]="empresa.hora_inicio" type="text"> -->

            <select name="hora_inicio" id="hora_inicio" [(ngModel)]="empresa.hora_inicio">
                <option value="6">6 am</option>
                <option value="7">7 am</option>
                <option value="8">8 am</option>
                <option value="9">9 am</option>
                <option value="10">10 am</option>
              </select>

              <select name="hora_fin" id="hora_fin" [(ngModel)]="empresa.hora_fin">
                <option value="19">7 pm</option>
                <option value="20">8 pm</option>
                <option value="21">9 pm</option>
                <option value="22">10 pm</option>
                <option value="23">11 pm</option>
                <option value="24">00 am</option>
              </select>

            <!-- <input
                class="text-xs w-full rounded-lg rounded-l-none border-l-transparent h-9 border-gray-300 text-gray-900"
                name="hora_fin" id="hora_fin" [(ngModel)]="empresa.hora_fin" type="text"> -->
        </div>
    </div>

    <div class="flex">
        <div class="flex items-center me-4">
            <input type="checkbox" value="" id="iluminacion" [(ngModel)]="caracteristicas.iluminacion" name="iluminacion"
                class="size-4 text-forestGreen-500 bg-white-100 border-forestGreen-500 rounded" (change)="actualizar_caracteristicas()">
            <label for="iluminacion" class="ms-2 text-sm font-medium text-gray-900">Iluminación</label>
        </div>
        <div class="flex items-center me-4">
            <input type="checkbox" value="" id="techado" [(ngModel)]="caracteristicas.techado" name="techado"
                class="size-4 text-forestGreen-500 bg-white-100 border-forestGreen-500 rounded" (change)="actualizar_caracteristicas()">
            <label for="techado" class="ms-2 text-sm font-medium text-gray-900">Techado</label>
        </div>
        <div class="flex items-center me-4">
            <input type="checkbox" value="" id="garaje" [(ngModel)]="caracteristicas.garaje" name="garaje"
                class="size-4 text-forestGreen-500 bg-white-100 border-forestGreen-500 rounded" (change)="actualizar_caracteristicas()">
            <label for="garaje" class="ms-2 text-sm font-medium text-gray-900">Garaje</label>
        </div>
        <div class="flex items-center me-4">
            <input type="checkbox" value="" id="canchas_futsal" [(ngModel)]="caracteristicas.canchas_futsal" name="canchas_futsal"
                class="size-4 text-forestGreen-500 bg-white-100 border-forestGreen-500 rounded" (change)="actualizar_caracteristicas()">
            <label for="canchas_futsal" class="ms-2 text-sm font-medium text-gray-900">Canchas de futbol</label>
        </div>
        <div class="flex items-center me-4">
            <input type="checkbox" value="" id="canchas_voley" [(ngModel)]="caracteristicas.canchas_voley" name="canchas_voley"
                class="size-4 text-forestGreen-500 bg-white-100 border-forestGreen-500 rounded" (change)="actualizar_caracteristicas()">
            <label for="canchas_voley" class="ms-2 text-sm font-medium text-gray-900">Canchas de voley</label>
        </div>

    </div>




    <button (click)="actualizar()"
        class="flex font-semibold items-center justify-center text-white bg-forestGreen-500 h-10 w-1/2  rounded-lg self-center">
        Actualizar datos
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M21.5 12.002C21.5 16.9725 17.4706 21.002 12.5 21.002C7.52944 21.002 3.5 16.9725 3.5 12.002C3.5 7.03139 7.52944 3.00195 12.5 3.00195C13.9121 3.00195 15.2482 3.32714 16.4375 3.90672M19.8125 6.37695L11.9375 14.252L9.6875 12.002"
                stroke="#F0FDF3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </button>

    <button
        class="flex font-semibold items-center justify-center  border border-forestGreen-500 h-10 w-1/2  rounded-lg self-center">
        Actualizar contraseña
    </button>







</div>
<div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-contacts1" role="tabpanel"
    aria-labelledby="contacts-tab">
    <p class="text-sm text-gray-500 dark:text-gray-400">
        This is some placeholder content the Contacts tab's associated content.
        Clicking another tab will toggle the visibility of this one for the
        next. The tab JavaScript swaps classes to control the content visibility
        and styling.
    </p>
</div>
}