<div
  class="flex flex-col md:hidden md:justify-center align-middle  items-center w-full p-2 gap-2 gap-y-4">
  <p class="text-center font-bold text-pretty order-1 md:order-2">{{user_lc.nombres | titlecase}}</p>
  <div class="flex justify-center order-1 md:order-1">
    <img class="size-20" src="../../../../../../assets/img/default_user.png" alt="user">
  </div>
</div>

<div class="hidden md:flex justify-center w-full">

  <div
    class="self-center flex flex-col md:justify-start align-middle px-4 items-center w-6/12  md:h-56 p-2 gap-2 gap-y-4 md:bg-[url('/assets/img/default_bg_user.png')] md:bg-no-repeat md:flex-row md:bg-center md:bg-contain">
    <p class="text-center font-bold text-pretty order-1 md:order-2">{{user_lc.nombres | titlecase}}</p>
    <div class="flex justify-center order-1 md:order-1">
      <img class="size-20" src="../../../../../../assets/img/default_user.png" alt="user">
    </div>
  </div>


</div>