<div class="wrapper  min-h-32 ">

  <!-- <app-button-search class="mb-3" (option)="handleSearch($event)"></app-button-search> -->

  <div
    class="  rounded-b-xl flex   md:bg-blend-darken md:bg-black/30 justify-center h-fit max-h-24  md:max-h-96 bg-cover w-full md:py-8 bg-no-repeat  bg-center md:bg-[url('https://images.pexels.com/photos/47730/the-ball-stadion-football-the-pitch-47730.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')] ">

    <div
      class="h-full gap-y-1  md:bg-white/70 flex-col md:flex-row rounded-full w-full max-w-6xl md:px-3.5 md:p-4 justify-center  md:gap-0.5 flex md:h-20">
      <select id="region" class=" w-full text-xs md:text-base  md:border-none rounded-lg md:rounded-l-full"
        name="region" [(ngModel)]="empresa.region" (change)="select_region()" required>
        <option value="" selected disabled>Departamento</option>
        <option value="{{ item.id }}" *ngFor="let item of regiones">
          {{ item.name }}
        </option>
      </select>

      <select id="provincia" class="w-full text-xs md:text-base md:border-none rounded-lg md:rounded-none "
        name="provincia" (change)="select_provincia()" [(ngModel)]="empresa.provincia" required>
        <option value="" selected disabled>Provincia</option>
        <option value="{{ item.id }}" *ngFor="let item of provincias">
          {{ item.name }}
        </option>
      </select>


      <input type="text" class="w-full text-xs md:text-base  md:border-none rounded-lg md:rounded-r-full"
        placeholder="Escribe el nombre del grass aquí" aria-label="buscar" autocomplete="off"
        aria-describedby="button-addon2" [(ngModel)]="busqueda" name="busqueda" (keyup)="buscarName()" />

    </div>
  </div>
</div>

<div class="wrapper ">

  <div class="mirko">
    @if(load_data) {
    @for (item of [1,2,3,4,5,6,7,8]; track $index) {
    <app-card-empresa-skeleton class="flex justify-center"></app-card-empresa-skeleton>
    }
    }
    @if(!load_data) {
    @if (caracBuscada.length >= 1) {
    @for (cancha of caracBuscada; track $index) {
    <app-card-empresa [caracteristicas]="cancha" [urlInput]="''" class="flex justify-center" />
    }
    }
    @if (caracBuscada.length < 1) { <p class="text-xl">NO se econtro :V</p>
      }
      }
  </div>



  <!-- paginacion -->


  <nav aria-label="Page navigation example" class="flex justify-center py-2">
    <ul class="flex items-center  gap-4 h-8 text-sm">
      <li
        class=" cursor-pointer flex items-center p-3 justify-center   bg-forestGreen-100   rounded-full hover:bg-forestGreen-200  dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        <span class="sr-only">Previous</span>
        <svg class="size-3  stroke-forestGreen-500 fill-none" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 6 10">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
        </svg>

      </li>
      <li class="text-base font-medium cursor-pointer">
        1
      </li>

      <li class="font-semibold text-base  text-forestGreen-600 cursor-pointer">
        2
      </li>
      <li class="text-base font-medium cursor-pointer">
        3
      </li>
      <li class="text-base font-medium cursor-pointer">
        4
      </li>

      <li
        class=" cursor-pointer flex items-center p-3 justify-center   bg-forestGreen-100   rounded-full hover:bg-forestGreen-200  dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">


        <span class="sr-only">Next</span>
        <svg class="size-3 stroke-forestGreen-500 fill-none" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 6 10">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
        </svg>

      </li>
    </ul>
  </nav>


  <!-- paginacion -->


</div>