<div class="px-4 mirko">
  <app-card-empresa-skeleton class="flex justify-center"></app-card-empresa-skeleton>
  <app-card-empresa-skeleton class="flex justify-center"></app-card-empresa-skeleton>
  <app-card-empresa-skeleton class="flex justify-center"></app-card-empresa-skeleton>
  <app-card-empresa-skeleton class="flex justify-center"></app-card-empresa-skeleton>
  <app-card-empresa-skeleton class="flex justify-center"></app-card-empresa-skeleton>
  <app-card-empresa-skeleton class="flex justify-center"></app-card-empresa-skeleton>
  <app-card-empresa-skeleton class="flex justify-center"></app-card-empresa-skeleton>
  <app-card-empresa-skeleton class="flex justify-center"></app-card-empresa-skeleton>

  @for (cancha of primerosBuscado; track $index) {
  <app-card-empresa
    [caracteristicas]="cancha"
    [urlInput]="''"
    class="flex justify-center"
  />
  }
</div>
