<div
  class="max-w-80 flex flex-col gap-1 justify-between rounded-lg p-3 bg-white border border-gray-200 w-full h-96"
>
  <div
    id="animation-carousel"
    class="relative w-full h-1/2"
    data-carousel="static"
  >
    <!-- Carousel wrapper -->
    <div class="relative h-full overflow-hidden rounded-lg">
      <!-- Item 1 -->
      <div class="imagen-skeleton">
        
      </div>
    </div>
  </div>
  <div class="h-1/2 flex flex-col gap-0.5">
    <!-- iconos de caracteristicas  -->
    <div class="flex justify-between gap-1 w-full px-4 font-bold mb-2">
      <div class="items-center h-6 w-6">
        <div class="flex gap-1 items-center icon-empresa">
        </div>
      </div>

      <div class="items-center h-6 w-6">
        <div class="flex gap-1 items-center icon-empresa">
        
        </div>
      </div>
      <div class="items-center h-6 w-6">
        <div class="flex gap-1 items-center icon-empresa">
        </div>
      </div>
      <div class="items-center h-6 w-6">
        <div class="flex gap-1 items-center icon-empresa">
        </div>
      </div>
      <div class="items-center h-6 w-6">
        <div class="flex gap-1 items-center icon-empresa">
        </div>
      </div>
    </div>

    <div class="flex flex-col">
      <div class="nombre-empresa"></div>
      <div class="">
        <div class="direccion-empresa">

        </div>
      </div>
      <div>
        <div class="reference-empresa"></div>
      </div>
    </div>
    <div class="mt-auto flex justify-center">
      <div class="button-empresa">
      </div>
    </div>
  </div>
</div>

