#registro-component {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 576px) {
  #registro-component {
    flex-direction: row;
  }
  .header-form {
    justify-content: center;
  }
}

@media screen and (min-width: 900px) {
  #registro-component {
    flex-direction: row;
  }
  .header-form {
    width: 50%;
    justify-content: center;
  }
  .form-content {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
  }
}
