<div class="wrapper">

    <p class="mt-16 text-center ml-0 mr-0 md:ml-16 md:mr-16 lg:ml-64 lg:mr-64">
        <strong class="text-2xl">
            Somos una plataforma diseñada para conectar a <span class="text-green-400">empresas</span> que ofrecen canchas deportivas con <span class="text-blue-500">usuarios</span> apasionados por el deporte
        </strong>
    </p>

    <p class="text-center mt-4 hidden md:block">
        Tu pasión por el deporte, nuestra misión de conectar.
    </p>
    
    <p class="text-center mt-4 block md:hidden">
        Tu pasión por el deporte, <br> nuestra misión de conectar.
    </p>
    

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 h-auto mt-8 md:mt-16 lg:mt-32">
        <!-- Sección de texto -->
        <div class="col-span-1">
            <p>
                En ReservaTuGrass, estamos apasionados por el deporte y somos un equipo de entusiastas que se ha unido para crear una plataforma única que conecta a las empresas que ofrecen canchas de grass con los usuarios ávidos de acción deportiva.
            </p>
    
            <p class="mb-3 mt-8 lg:mt-5 font-bold"> Nuestra Misión </p>
            <p>
                Facilitar el acceso a las mejores instalaciones deportivas y fomentar la pasión por el deporte en cada rincón de nuestra comunidad. Creemos en la importancia del juego, la competencia amistosa y la camaradería que se genera en torno a un deporte.
            </p>
        </div>
    
        <!-- Sección de imagen -->
        <div class="col-auto text-center flex justify-center hidden lg:flex">
            <img src="https://reservatugrass.netlify.app/assets/img/1.png" alt="logo" width="300px">
        </div>
    </div>
    
    <div class="grid grid-cols-1 lg:grid-cols-2 mt-8 lg:mt-24">

        <div class="col-auto mb-5 flex justify-center hidden lg:flex">
            <img src="../../../../../assets/img/animal-jugando-pelota.png" alt="animal jugando pelota" width="350px">
        </div>

        <div class="col-auto mb-5">
            <strong class="text-left lg:text-right block text-1xl mb-3"> Lo que hacemos </strong>
            <p class="text-left lg:text-right mb-8 lg:mb-5">
                Ofrecemos una plataforma intuitiva que permite a los amantes del fútbol y del vóley, encontrar y reservar canchas de manera rápida y sencilla. Trabajamos incansablemente para establecer asociaciones con las mejores empresas de instalaciones deportivas, asegurando que nuestros usuarios tengan acceso a lugares de primera calidad.
            </p>
            
            <strong class="text-left lg:text-right block text-1xl mb-3"> Nuestra comunidad deportiva </strong>
            <p class="text-left lg:text-right">
                Sabemos que el deporte es más que solo el juego en sí; es una forma de vida. Por eso, alentamos a nuestra creciente comunidad a conectarse, organizar partidos, compartir historias y fomentar el espíritu deportivo. Juntos, estamos construyendo una red apasionada de jugadores y amantes del deporte.
            </p>
        </div>
    </div>

</div>