<div class="flex-col p-4 space-y-4 rounded-lg  dark:bg-gray-800 w-full">
  <div class="flex w-full justify-between gap-x-4">
    <div class="w-full">
      <input placeholder="Ingrese contaseña actual" type="text" id="small-input"
        class="block w-full h-9 text-gray-900 border border-gray-300 rounded-md bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
    </div>

    <button
      class="hover:scale-110  hover:duration-75 bg-forestGreen-500 rounded-md text-forestGreen-50 inline-flex justify-center items-center px-4">
      Verificar
      <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.5 6L19.5 12M19.5 12L13.5 18M19.5 12H5.5" stroke="#F0FDF3" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </button>
  </div>
  <div class="flex w-full justify-between gap-x-4">
    <div class="w-full">
      <label for="small-input" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
      <input placeholder="Ingrese su contraseña" type="text" id="small-input"
        class="block w-full h-9 text-gray-900 border border-gray-300 rounded-md bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
    </div>

    <div class="w-full">
      <label for="small-input" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Confirmar
        contraseña</label>
      <input placeholder="Confirme su contraseña" type="text" id="small-input"
        class="block w-full h-9 text-gray-900 border border-gray-300 rounded-md bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
    </div>
  </div>

  <button class="  hover:scale-105  hover:duration-75 w-full bg-chambray-700 text-white h-9 rounded-md font-semibold">
    Actualizar
  </button>
</div>