<!-- cuando se usa el componente en un html se debe hacer de la siguiente manera -->
 <!-- para que el contenedor del componente mande el tamaño al componente -->
  
<!-- <div class="h-20 md:h-28 w-full max-w-md mx-auto"> 
    <app-carousel-image [galeria]="item?.galeria"></app-carousel-image>
</div> -->


<div class="mx-auto w-full max-w-md h-[100%]">
    <div #carouselExample class="relative h-full" [id]="'carousel-' + uniqueId">
      <!-- Carousel wrapper -->
      <div class="overflow-hidden relative h-full rounded-lg">
        @for (image of images; track image.id) {
          <div [id]="getItemId(image.id)" class="hidden absolute inset-0 duration-700 ease-in-out">
            <img [src]="image.src" [alt]="image.alt" class="block object-cover absolute w-full h-full">
          </div>
        }
      </div>

      <!-- Slider indicators -->
      <div class="absolute bottom-4 left-1/2 -translate-x-1/2 flex justify-center space-x-3 z-30">
        @for (image of images; track image.id) {
          <button [id]="getIndicatorId(image.id)" type="button"
            class="rounded-full size-2.5 bg-forestGreen-500/50 hover:bg-forestGreen-500"
            [attr.aria-label]="'Slide ' + image.id">
          </button>
        }
      </div>
    </div>
  </div>