<!-- cuando se usa el componente en un html se debe hacer de la siguiente manera -->
 <!-- para que el contenedor del componente mande el tamaño al componente -->
  
<!-- <div class="h-20 md:h-28 w-full max-w-md mx-auto"> 
    <app-carousel-image [galeria]="item?.galeria"></app-carousel-image>
</div> -->


<div class="mx-auto w-full max-w-md h-full">
    <div #carouselExample class="relative h-full" [id]="'carousel-' + uniqueId">
      <!-- Carousel wrapper -->
      <div class="overflow-hidden relative h-[85%] rounded-lg">
        @for (image of images; track image.id) {
          <div [id]="getItemId(image.id)" class="hidden absolute inset-0 duration-700 ease-in-out">
            <img [src]="image.src" [alt]="image.alt" class="block object-cover absolute w-full h-full">
          </div>
        }
      </div>

      <!-- Slider indicators -->
      <div class="h-[15%] flex items-center justify-center">
        <div class="flex space-x-3">
          @for (image of images; track image.id) {
            <button [id]="getIndicatorId(image.id)" 
                    type="button"
                    [attr.aria-label]="'Slide ' + image.id"
                    >
              <span class="sr-only">Slide {{image.id}}</span>
            </button>
          }
        </div>
    </div>
  </div>